-
  var names = [
    'Annalisa',
    'Blaire',
    'Bunnie',
    'Chrissy',
    'Cranston',
    'Daisy',
    'Deirdre',
    'Dotty',
    'Ellie',
    'Erik',
    'Eugene',
    'Fauna',
    'Flo',
    'Francine',
    'Frobert',
    'Genji',
    'Hornsby',
    'Iggly',
    'Jacob',
    'Ketchup',
    'Lily',
    'Merry',
    'Nan',
    'Nibbles',
    'Pango',
    'Pashmina',
    'Peck',
    'Phoebe',
    'Sprinkle',
    'Stella',
    'Tammy',
    'T-Bone',
    'Tia',
    'Tiffany',
    'Walker',
    'Wart Jr.',
    'Willow',
    'Zucker',
  ]
